
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
nav{
position:fixed;
width:100%;
background-color:#fff;
display:flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding:1vw 5vw;
box-shadow: 2px 2px 10px rgba(0,0,0,0.15);
z-index: 999;
}
nav img{
  width:70px;
  height:70px;
  margin-left: 100px;
  cursor: pointer;

}
nav .navigation ul{
    display:flex;
    justify-content:flex-end;
    align-items: center;
}
nav .navigation ul li{
    list-style: none;
    margin-left:20px;
}
nav .navigation ul li a{
    text-decoration: none;
    color:darkblue;
    font-size:20px;
    font-weight: 10px;
    transition:0.3s ease;
}
nav .navigation ul li a:hover{
    color:darkkhaki;
}
#Home{
    background-image: linear-gradient(rgba(9,5,54,0.3),rgba(5,4,46,0.7)),url("./images/back.jpg");
    width:100vw;
    height:100vh;
    background-size:cover;
    background-position:center;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#Home h2{
    color:cornsilk;
    font-size: 2.2rem;
    letter-spacing: 1px;
}
#Home p{
    width:50%;
    color:cornsilk;
    font-size: 0.9rem;
    line-height: 25px;
}
#Home .btn{
    margin-top:30px;
}
#Home a{
    text-decoration: none;
    font-size:0.9rem;
    padding:13px 35px;
    background-color: #fff;
    font-weight:600;
    border-radius: 5px;
}
#Home a.blue{
    color:#fff;
    background:rgb(21,21,100);
    transition:0.3s ease
}
#Home a.blue:hover{
    background:#fff;
    color:rgb(21,21,100);
}
#Home a.yellow{
    color:#fff;
    background:rgb(205, 202, 33);
    transition: 0.3s ease;
}
#Home a.yellow:hover{
    background:#fff;
    color:rgb(21,21,100);
}
#features{
    padding:5vw 8vw 0 8vw;
    text-align: center;
}
#features .fea-box{
    background: #F9F9FF;
    text-align:start;
}
#features .fea-box i{
    font-size: 2.3rem;
    color:rgb(44,44,80)
}
#features .fea-box h3{
    font-size:1.2rem;
    font-weight:600;
    color:rgb(46,46,59);
    /* color:green; */
    padding:13px 0 7px 0;
}
#features .fea-box p{
    font-size:1rem;
    font-weight:400;
    color:rgb(46,46,59);
    /* color:green; */
    
}
#features .fea-base{
     display:grid;
     grid-template-columns: repeat(auto-fit,minmax(320px,1fr));
     grid-gap:1rem;
     margin-top:50px;
}
#Courses{
    padding:8vw 8vw 8vw 8vw;
    text-align: center;

}
#Courses  .Course-box{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(320px,1fr));
    grid-gap:1rem;
    margin-top:50px;
}
#Courses  .courses{
    text-align: start;
    background-color: #F9F9FF;
    height:100%;
    position: relative;
}
#Courses  .courses img{
    width:100%;
    height:60%;
    background-size: cover;
    background-position: center;
}
#Courses .courses .details{
    padding:15px 15px 0 15px;
}
#Courses .courses .details i{
        color:gold;
        font-size: .9rem;

}
#Courses .courses .cost{
    background-color: rgb(74,74,136);
    color:#fff;
    line-height: 70px;
    width:70px;
    height:70px;
    text-align: center;
    border-radius: 50%;
    position:absolute;
    right:15px;
    bottom:100px;
}
#registeration{
    padding:6vw 8vw 6vw 8vw;
    background-image: linear-gradient(rgba(99,112,168,0.5),rgba(81,91,238,0.5)),url("images/signup.jpg");
    width:100%;
    height:100%;
    background-size: cover;
    background-position: center;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
#registeration .reminder{
   color:#fff;
}
#registeration .reminder h1{
    color:#fff;
 }
 #registeration .reminder .time{
    display:flex;
    margin-top:40px;
 }
 #registeration .reminder .time .date{
    text-align: center;
    padding:13px 33px;
    background:rgba(255,255,255,0.25);
    backdrop-filter: blur(4px);
    box-shadow:0 8px 32px 0 rgba(31,38,135,0.37);
    border-radius: 5px;
    margin:0 5px 10px 5px;
    border:1px solid rgba(255,255,255,0.18);
    font-size: 1.1rem;
    font-weight: 600;
 }
 #registeration .form{
    background: #fff;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    padding:40px;
    box-shadow:0 8px 32px 0 rgba(31,38,135,0.37);

 }
 #registeration .form input{
    margin:15px 0;
    padding:15px 10px;
    border:1px solid rgba(84,40,241);
    outline: none;
 }
 #registeration .form input::placeholder{
    color:#413c3c;
    font-weight: 500;
    font-size: 0.9rem;
 }
 #registeration .form .btn{
    margin-top:20px;
 }
 #registeration .form a.yellow{
    text-decoration: none;
    font-size:0.9rem;
    padding:13px 35px;
    background-color: #fff;
    font-weight:600;
    border-radius: 5px;
    color:#fff;
    background:rgb(205, 202, 33);
    transition: 0.3s ease;
}
#registeration .form a.yellow:hover{
    background:#fff;
    color:rgb(21,21,100);
}

/* Experts */

#experts{
    padding:8vw 8vw 8vw 8vw;
    text-align: center;
}
#experts .expert-box{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap:1rem;
    margin-top:50px;
}
#experts .expert-box .profile{
    background: #fafaf1;
    padding:30px 10px; 
}
#experts .expert-box .profile img{
    width:150px;
    height:150px;
    border-radius: 50%;
}
.pro-links{
    margin-top:20px;
}
.pro-links i{
   padding:10px 13px;
   border:1px solid rgb(21,21,100);
   cursor:pointer;
   transition:0.3s ease;
}
.pro-links i:hover{
    background:rgb(21,21,100);
    color:#fff;
    border:1px solid rgb(21,21,100);
    cursor:pointer;
}
footer{
    padding:8vw;
    background-color: #101C32;
    display:flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap:wrap;
}
footer .footer-col{
    padding-bottom: 40px;

}
footer h3{
    color:rgb(241,240,245);
    font-weight: 600;
    padding-bottom: 20px;
}
footer li{
    list-style: none;
    color:#7b838a;
    padding:10px 0;
    font-size:15px;
    cursor:pointer;
    transition:0.3s ease;
}
footer li:hover{
    color:rgb(241,240,245);

}
footer p{
    color:#7b838a;
}
footer .subscribe{
    margin-top: 20px;
}
footer input{
    width:220px;
    padding:15px 12px;
    background:#334F6C;
    border:none;
    outline:none;
    color:#fff;
}
footer .subscribe a{
    text-decoration: none;
    font-size:0.9rem;
    padding:13px 35px;
    background-color: #fff;
    font-weight:600;
    /* border-radius: 5px; */
}
footer .subscribe a.yellow{
    color:#2c2c2c;
    background:#FDC93B;
    transition: 0.3s ease;
}
footer .subscribe a.yellow:hover{
    background:#fff;
    color:rgb(21,21,100);
}
footer .copyright{
    margin-top: 20px;
    display:flex;
    justify-content:space-between;
    align-items: center;
    width:100%;
    flex-wrap: wrap;
}
footer .copyright p{
    color:#fff;
}
footer .pro-links{
    margin-top:0px;
}
footer .pro-links i{
   background-color:#5f7185;
   color:#fff;
}
footer .pro-links i:hover{
    background-color:#FDC93B;
   color:#2c2c2c;
}